@charset "utf-8";
/* CSS Document 
 * author: @CleiverFossi
 * Version: 2
 * Modificado por : Marco Adarme
 */


#pie{
    color:#FFF;
    background-color:#fff;
    margin:0 auto;
    margin-top:10px;
    width:100%;
    padding:20px 0;
    text-align:center;
    background-color:#e08282;
    -webkit-border-radius:12px; -moz-border-radius:12px;border-radius:12px; /* css3 */
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#c00));background: -moz-linear-gradient(top, white, #c00); /* css3 */
}
#pie a{
    color:#FFF;
    text-decoration:none;
}

body{
	width:100%;
	font-size:16px;
	font-family: Helvetica, Arial;
	padding:0px;
	margin:0 auto;
	overflow:auto;
}
h1,h2,h3,h4{ 
	color:#ffffff; 
	margin:0;
}
p{
	margin:0;
	text-align:justify;
}
a{
	text-decoration:none;
	color:#e08282; 
}
a:hover{
	color:#ffffff;
}

form{

	display:block;
	width:400px;
	padding:15px;
	border:2px solid #CCC;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}
form h1, .form h2, .form h3{ 
	color:#c00; 
}
form label{
	display:block;
	font-weight:bold;
	text-align:right;
	width:140px;
	float:left;
}
form span{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:140px;
}
form input ,form textarea,form select{
	background-color:#f0f0f0;
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #e08282;
	width:200px;max-width:200px;
	margin:2px 0 20px 10px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}
form input:focus, form textarea:focus,form select:focus{
	background-color:#FFF;
}

form .radio,form .checkbox{
	line-height:20px;
	margin-bottom:0px;
	font-size:12px;
	padding:4px 2px;
	display:block;
	float:left;
	font-size:12px;
	height:15px;
	width:200px;
}

.ewk_cont_banner{
    height: 300vh;
    background-attachment: fixed;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-image: url("../Imagenes/rf3.jpg");
}

.ewk_sobra{
    position: relative;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 80%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    margin: auto;
}

.ewk_sobra hr{
    border-top: 1px solid #fff;
}

.ewk_sobra h1{
    font-size: 8vw;
    margin-bottom: 10px;
}

.ewk_sobra p{
    font-size: 2vw;
	margin-bottom: 5px;
	text-align: center;
}

.ewk_cont_banner_link{
    margin: 15px;
    position: relative;
}

.ewk_cont_banner_link a{
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 1px;
    margin-bottom: 5px;
    width: 150px;
}

.ewk_cont_banner_link a:hover{
    background-color: #fff;
    color: #111;
}